- problems.matches.each do |problem|
  %tr
    %td.text-center= link_to problem.id, problem, "data-turbo" => "false"
    %td.text-center= problem.points
    %td.text-center= problem.shape
    %td= problem.category
= render "utils/pagination/links", pager: problems, columns: 4
