:ruby
  set_meta_tags title: t("problem.title")
  inputs = [
    [:min,      t("symbol.ge"),        :text,   "md-1", size: 2, placeholder: t("symbol.ge")],
    [:max,      t("symbol.le"),        :text,   "md-1", size: 2, placeholder: t("symbol.le")],
    [:shape,    t("hand.shape"),       :select, "md-2", menu: problem_shape_menu(params[:shape])],
    [:category, t("problem.category"), :select, "md-2", menu: problem_category_menu(params[:category])],
  # [:shape,    t("hand.shape"),       :list,   "md-2", data: problem_shape_data],
  # [:category, t("problem.category"), :list,   "md-2", data: problem_category_data],
    [:query,    t("search"),           :text,   "md-3", size: 8, placeholder: t("problem.note")],
    [:order,    t("order"),            :select, "md-2", menu: problem_order_menu(params[:order])],
    [:per_page, t("per_page"),         :select, "md-1", menu: problems_per_page_menu(params[:per_page])],
  ]

%section
  .header{class: "#{can?(:create, Problem) ? '' : 'text-center'}"}
    %h3.d-inline= t("problem.title")
  .body
    = render "utils/search/form", index: problems_path, inputs: inputs
    .row
      %div{class: center(xl: 6, lg: 8, md: 10, sm: 12)}
        %table.mt-4{class: "table table-bordered table-sm"}
          %thead
            %tr
              %th.text-center= "#"
              %th.text-center= t("hand.points")
              %th.text-center= t("hand.shape")
              %th= t("problem.category")
              -# %th= t("problem.author")
          %tbody#results
            = render "results", problems: @problems
  .footer
    = link_to t("reset"), problems_path, class: "btn btn-success btn-sm"
    - if can?(:create, Problem)
      = link_to t("problem.new"), new_problem_path, class: "btn btn-primary btn-sm"
