:ruby
  set_meta_tags title: t("problem.title")
  inputs = [
    [:min,      t("symbol.ge"),        :text,   size: 2, placeholder: t("symbol.ge"), cols: "md-1"],
    [:max,      t("symbol.le"),        :text,   size: 2, placeholder: t("symbol.le"), cols: "md-1"],
    [:shape,    t("hand.shape"),       :select, menu: problem_shape_menu(params[:shape]), cols: "md-2"],
    [:category, t("problem.category"), :select, menu: problem_category_menu(params[:category]), cols: "md-2"],
    [:query,    t("search"),           :text,   size: 8, placeholder: t("problem.note"), cols: "md-3"],
    [:order,    t("order"),            :select, menu: problem_order_menu(params[:order]), cols: "md-2"],
    [:per_page, t("per_page"),         :select, menu: problems_per_page_menu(params[:per_page]), cols: "md-1"],
  ]

%section
  .header{class: "#{can?(:create, Problem) ? '' : 'text-center'}"}
    %h3.d-inline= t("problem.title")
  .body
    = render "utils/search/form", index: problems_path, inputs: inputs
    .row
      %div{class: center(xl: 6, lg: 8, md: 10, sm: 12)}
        %table.mt-4{class: "table table-bordered table-sm"}
          %thead
            %tr
              %th.text-center= "#"
              %th.text-center= t("hand.points")
              %th.text-center= t("hand.shape")
              %th= t("problem.category")
              -# %th= t("problem.author")
          %tbody#results
            = render "results", problems: @problems
  .footer
    = link_to t("reset"), problems_path, class: "btn btn-success btn-sm"
    - if can?(:create, Problem)
      = link_to t("problem.new"), new_problem_path, class: "btn btn-primary btn-sm"
