:ruby
  set_meta_tags title: t("problem.title")
  lo = Sni::Layout.call(xl: [1,1,2,2,2,1], lg: [[1,1,2,2],[4,2]], xs: [[2,2],[4,4],[4,4]])
  inputs = [
    [:min,      t("symbol.ge"),        :text,   lo[0], size: 2, placeholder: t("symbol.ge")],
    [:max,      t("symbol.le"),        :text,   lo[1], size: 2, placeholder: t("symbol.le")],
    [:shape,    t("hand.shape"),       :select, lo[2], menu: problem_shape_menu(params[:shape])],
    [:category, t("problem.category"), :select, lo[3], menu: problem_category_menu(params[:category])],
    [:query,    t("search"),           :text,   lo[4], size: 8, placeholder: t("problem.note")],
    [:order,    t("order"),            :select, lo[5], menu: problem_order_menu(params[:order])],
  ]

%section
  .header{class: "#{can?(:create, Problem) ? '' : 'text-center'}"}
    %h3.d-inline= t("problem.title")
  .body{"data-turbo" => "true"}
    = render "utils/search/form", index: problems_path, inputs: inputs
    .row
      %div{class: Sni::Center.call(xl: 6, lg: 8, md: 10, sm: 12)}
        = turbo_frame_tag :results, "data-turbo-action" => "advance" do
          %table.mt-4{class: "table table-bordered table-sm"}
            %thead
              %tr
                %th.text-center= "#"
                %th.text-center= t("hand.points")
                %th.text-center= t("hand.shape")
                %th= t("problem.category")
            %tbody
              = render "results", problems: @problems
  .footer
    - if can?(:create, Problem)
      = link_to t("problem.new"), new_problem_path, class: "btn btn-primary btn-sm"
    = link_to t("reset"), problems_path, class: "btn btn-success btn-sm"
