- set_meta_tags title: t("review.review")

- content_for :javascript do
  = render partial: "review", formats: :js, locals: { pid: @problem.id }
  = render partial: "link", formats: :js

%section
  .header
    %h3= @title
  .body
    = render "bidding", problem: @problem, hide: true
    = render "hand", problem: @problem
    .text-center.mt-3
      %button.btn.btn-sm.btn-success#show= t("review.reveal")
      - (0..5).each do |q|
        - unless q == 1 || q == 2
          %button.btn.btn-sm.report{class: "btn-#{t("review.btn.class")[q]}", id: "btn-q-#{q}", "data-quality" => q}
            = t("review.btn.text")[q]
            - if q >= 3
              = review_interval(@review.new_interval(q))
  .body.border-top#note
    .note= @problem.html
  .footer
    = link_to t("review.retire"), retire_problems_path, class: "btn btn-sm btn-danger"
    - if can?(:edit, @problem)
      = link_to t("edit"), edit_problem_path(@problem), class: "btn btn-primary btn-sm", target: "edit"

.modal#note-modal.fade{tabindex: "-1"}
  .modal-dialog.modal-dialog-scrollable
    .modal-content#note-modal-content
