- title = t("problem.show", id: @problem.id)
- set_meta_tags title: title

- content_for :javascript do
  = render partial: "show", formats: :js

%section
  .header
    %h3.d-inline= title
    .float-end.mt-1= problem_pagination_links(@problem.id)
  .body
    = render "bidding", problem: @problem
    = render "hand", problem: @problem
  .body.border-top
    .note= @problem.html
  .footer
    = link_to t("problem.title"), problems_path, class: "btn btn-success btn-sm"
    - if can?(:edit, @problem)
      = link_to t("edit"), edit_problem_path(@problem), class: "btn btn-primary btn-sm"
