- title = t("problem.show", id: @problem.id)
- set_meta_tags title: title
- hand = Hand.new(@problem.hand).hand
- bids = Bids.new(@problem.bids).bids

%section
  .header
    %h3.d-inline= title
  .body
    .div{class: center(xl: 4, lg: 6, md: 8, sm: 10)}
      .row
        .bid-div.border-top N
        .bid-div.border-top E
        .bid-div.border-top S
        .bid-div.border-top.border-right W
        - bids.each_with_index do |b, i|
          .bid-div{class: i % 4 == 3 ? 'border-right' : ''}= show_bid(b)
        - (bids.length..(bids.length/4.0).ceil * 4 - 1).to_a.each do |i|
          .bid-div{class: i % 4 == 3 ? 'border-right' : ''}
      %p.text-center
        %small
          = succeed(":") do
            = t("problem.short.vul").downcase
          = t("problem.vuls.#{@problem.vul}").downcase
      %table.hand-tab
        %tbody
          - hand.each_pair do |suit, cards|
            %tr
              %td= t("bids.#{suit}")
              %td
                - cards.each do |card|
                  = card
  .footer
    - if can?(:edit, @problem)
      = link_to t("edit"), edit_problem_path(@problem), class: "btn btn-info btn-sm"
    = link_to t("problem.title"), problems_path, class: "btn btn-success btn-sm"
    .float-right.mt-1= problem_pagination_links(@problem.id)
