- title = t("problem.show", id: @problem.id)
- set_meta_tags title: title
- hand = Hand.new(@problem.hand).hand
- bdng = Bids.new(@problem.bids)
- bids = bdng.bids

- content_for :javascript do
  = render partial: "show", formats: :js

%section
  .header
    %h3.d-inline= title
    .float-end.mt-1= problem_pagination_links(@problem.id)
  .body
    %p.text-center
      %small
        = succeed(":") do
          = t("hand.dealer")
        = succeed(",") do
          = bdng.dealer
        = succeed(":") do
          = t("problem.short.vul")
        = problem_vulnerability(@problem.vul)
    .row
      .col
      %div{class: centre(8, 7, 6, 5, 4, 3)}
        .row
          - bdng.bidders.each_with_index do |b, i|
            .bid-div.bid-hdr{class: i % 4 == 3 ? 'border-right' : ''}= b
          - bids.each_with_index do |b, i|
            .bid-div.bid-bid{class: i % 4 == 3 ? 'border-right' : ''}= show_bid(b)
          - (bids.length..(bids.length/4.0).ceil * 4 - 1).to_a.each do |i|
            .bid-div.bid-bid{class: i % 4 == 3 ? 'border-right' : ''}
      .col
    %table.hand-tab
      %tbody
        - hand.each_pair do |suit, cards|
          %tr
            %td= t("bids.#{suit}")
            %td
              - cards.each do |card|
                = card
  .body.border-top
    .note= @problem.html
  .footer
    = link_to t("problem.title"), problems_path, class: "btn btn-success btn-sm"
    - if can?(:edit, @problem)
      = link_to t("edit"), edit_problem_path(@problem), class: "btn btn-primary btn-sm"
