- set_meta_tags title: @problem.category
- hand = Hand.new(@problem.hand).hand
- bids = Bids.new(@problem.bids).bids

%section
  .header
    %h3.d-inline= @problem.category
  .body
    .div{class: center(xl: 4, lg: 6, md: 8, sm: 10)}
      .row
        .bid-div.border-top N
        .bid-div.border-top E
        .bid-div.border-top S
        .bid-div.border-top.border-right W
        - bids.each_with_index do |b, i|
          .bid-div{class: i % 4 == 3 ? 'border-right' : ''}= show_bid(b)
        - (bids.length..(bids.length/4.0).ceil * 4 - 1).to_a.each do |i|
          .bid-div{class: i % 4 == 3 ? 'border-right' : ''}
        %table.hand-tab
          %tbody
            - hand.each_pair do |suit, cards|
              %tr
                %td
                  = t("bids.#{suit}")
                  - cards.each do |card|
                    = card
      %p.mt-3= t("problem.vuls.#{@problem.vul}")
      %p= @problem.category
      .note= @problem.html
  .footer
    - if can?(:edit, @problem)
      = link_to t("edit"), edit_problem_path(@problem), class: "btn btn-info btn-sm"
    = link_to t("problem.title"), problems_path, class: "btn btn-success btn-sm"
